
/* importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

h1{
    text-align: center;
    color: #131311d8;
    height: 130px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 125px;
    margin: 10px 0px 30px 0px;
    background-color: #450ce241 ;
}

.Información relevante{
    column-count: 2;
    column-gap: 100px;
    column-rule: 5px double #0e919185;
}
